<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
    <title>Valida.me</title>
</head>

<body>
  <%- include('partials/header.ejs') %>
  
  <%- include('partials/banner.ejs') %>

  <%- include('partials/crear-form.ejs') %>

  <div class="py-3 barra-separacion"></div>

  <%- include('partials/imagenes-circulares.ejs') %>

  <%- include('partials/team.ejs') %>

  <%- include('partials/footer.ejs') %>

</body>

</html>