<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Formulario de Altia</title>
</head>

<body>
  <div class="container mx-auto my-4">
    <form action="/forms/formResponse" method="post" class="needs-validation" novalidate>
      <% form.fields.forEach(el=> { %>
        <div class="mb-3">
          <label for="<%= el.name %>" class="fw-bold form-label">
            <%= el.label %>
          </label>
          <% if(!el.input){ %>
            <textarea id="<%= el.name %>" class="form-control" name="<%= el.name %>"></textarea>
            <% } else{ %>
              <input type="<%= el.input %>" id="<%= el.name %>" class="form-control" name="<%= el.name %>">
              <% }%>
        </div>
        <% }) %>
        <input type="hidden" name="idForm" value="<%= form._id %>" </input>
          <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </div>
</body>

</html>