<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main class="container mx-auto my-4 w-25 main">
      <div class="list-group">
        <% forms.forEach(form => { %>
        <a
          class="list-group-item list-group-item-action"
          href="/forms/<%= form._id %>/responses"
          ><%= form.title %></a
        >
        <% }) %>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
